{% extends 'aktualnosci/base.html' %}
{%block content%} 
<p class="Onas">Oferta</p>
<p class="paragraf">
Oferta firmy <b>Polcargo Group</b> jest skierowana do wszystkich Klientów zainteresowanych auditowaniem i certyfikacją Systemów Zarządzania. Dysponując wysoko wykwalifikowanym personelem oraz doświadczonymi konsultantami <b>oferujemy Państwu usługę certyfikacji Systemów Zarządzania</b>. Dodatkowo Polcargo Group świadczy usługi doradcze i szkoleniowe. Nasza wieloletnia praktyka i obecność na rynku kontroli towarów gwarantuje naszym Klientom, iż certyfikaty przyznawane przez POLCARGO GROUP będą rzetelnym oraz bezstronnym dowodem sprawnego funkcjonowania przedsiębiorstwa. Nasi auditorzy posiadają doświadczenie w auditowaniu firm przemysłu budowlanego, produkcyjnego, motoryzacyjnego, chemicznego, administracji państwowej oraz innych branż.
</p>
<p class="paragraf">
<b>Nasze usługi odnoszą się do następujących systemów:</b> <br>
<tab>Systemy Zarządzania Jakością wg normy PN-EN ISO 9001:2009,</tab> <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systemy Zarządzania Środowiskowego wg normy PN-EN ISO 14001:2005, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systemy Zarządzania Bezpieczeństwem i Higieną Pracy wg normy PN-N-18001:2004, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systemy Zarządzania Bezpieczeństwem Żywności wg normy PN-EN ISO 22000:2006, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systemy zapewnienia bezpieczeństwa zdrowotnego żywności wg wymagań HACCP, GHP, GMP, GAP, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systemy Zintegrowane – połączenie dwóch lub więcej systemów podstawowych. <br></p>
<p class="paragraf"><i>
Certyfikacja Systemów Zarządzania jest jednym ze sposobów zapewnienia, że certyfikowana organizacja jest w stanie dostarczyć wyroby lub usługi spełniające wyspecyfikowane wymagania. Dowodem spełnienia wymogów określonej normy lub innego dokumentu normatywnego jest Certyfikat Systemu Zarządzania.
</i></p>
<p class="paragraf">
Gwarantujemy:<br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Rzetelną ocenę opartą o wiedzę i tradycję, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Bezstronność, odpowiedzialność i poufność, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Kompetentny i doświadczony personel, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Krótki termin realizacji, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Przystępne ceny.
</p>
<p class="paragraf">
Zyski Klientów: <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Zrozumienie procesów zachodzących w organizacji, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Prestiż związany z przyznaniem certyfikatu, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Gwarancja rzetelności dla Państwa partnerów handlowych, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Zapobieganie wszelkim niezgodnościom, i ich weryfikacja, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Skuteczne wskazanie obszarów wymagających podjęcia działań korygujących. <br>
</p> 
{%endblock%}