{% extends 'aktualnosci/base.html' %}

{%block content%}
<p class="Onas">O nas</p>
<p class="text-justify paragraf">W ubiegłym roku obchodziliśmy uroczyście <b>60-lecie działalności</b>, jesteśmy bowiem razem z innymi firmami POLCARGO GROUP działającymi na rynku, kontynuatorem – istniejącego od 1949 r. – państwowego przedsiębiorstwa POLCARGO.
</p>
<p class="text-justify paragraf">W 1990 roku nastąpił przełom - podział przedsiębiorstwa w imię modnej wtedy idei „małe jest piękne i lepsze”. W efekcie powstało 11 samodzielnych jednostek, które przeszły prywatyzację drogą spółek pracowniczych. Wychodząc jednak z założenia, że w jedności siła, a wcześniejszy pomysł rozczłonkowania tej firmy przez Ministerstwo na kilkanaście mniejszych nie należał do najlepszych, szczególnie przy konfrontacji z dużymi, mocnymi przedsiębiorstwami zagranicznymi z Unii Europejskiej. Dlatego podjęliśmy działania na rzecz wzmocnienia firm Polcargo w kraju.
</p>
<p class="text-justify paragraf">
    Z inicjatywy ośmiu spółek powstało w 1994 roku Polcargo Group. W następnych latach nastąpiła dalsza konsolidacja i w efekcie aktualnie w ramach Polcargo Group działają cztery spółki : <b>Polcargo Gdańsk, Polcargo Medyka, Polcargo Gliwice i Polcargo Łódź</b>.
</p>  <p class="text-justify paragraf">
    Od samego początku istnienia Polcargo Group Prezesem Zarządu jest <b>Andrzej Rogoziński</b> a V-ce Prezesem <b>Sławomir Władyko</b> – również Prezes i V-ce Prezes Polcargo Gdańsk.
</p>
<p class="text-justify paragraf">
    <i>Stawiamy do dyspozycji naszych klientów ponad 60-letnie doświadczenie firmy POLCARGO, wiedzę oraz umiejętności naszych kontrolerów i ekspertów, oferujemy im kontrole na terenie całego kraju, a także poza granicami Polski włączając Rosję i państwa nadbałtyckie. Przy realizacji współpracujemy z grupą firm POLCARGO w Polsce, korzystamy z sieci przedstawicielstw i korespondentów na całym świecie.
   </i> </p>
    <p class="text-justify paragraf">
    Niewątpliwie w ugruntowaniu pozycji firm pomaga także uznana marka.
    <b>Znak towarowy POLCARGO został opatentowany w Polsce i kilku krajach europejskich.</b> Jesteśmy członkiem organizacji międzynarodowych: ASTM, FOSFA a także Izby Zbożowo-Paszowej w Warszawie.
    </p>
    <p class="text-justify paragraf">
    Wieloletnia działalność firm Polcargo w ramach spółki „Polcargo Group”, to także wykorzystanie szans powstających w nowych warunkach gospodarczych.
    </p>
    <p class="text-justify paragraf">    
    Rzetelność i odpowiedzialność w biznesie przestrzegane przez wiele pokoleń pracowników Polcargo, wyznaczają także zasady obecnego działania Spółek działających pod wspólną nazwą „POLCARGO GROUP”.
    </p>
{%endblock%}