{% extends 'aktualnosci/base.html' %}
{%block content%}
    <p class="Onas">
    Polcargo Rzeczoznawstwo i Kontrola Towarów Sp. z o.o.</p>
    <p class="text-justify paragraf">
80-547 Gdańsk<br>
ul. Władysława IV 13 B <br>
tel: (+48 58) 343-10-91 <br>
tel/fax: (+48 58) 343-10-93 <br>
www.polcargo.gda.pl  <br>
biuro@polcargo.gda.pl <br>
</p>
<p class="Onas">
Polcargo Gliwice Sp. z o.o. </p>
<p class="text-justify paragraf">
44-100 Gliwice <br>
ul.Zwycięstwa 13 <br>
skr.poczt.203 <br>
tel: (+48 32) 231-88-18, (+48 32) 231-07-36 <br> 
fax: (+48 32) 238-22-53, (+48 32) 231-37-28,<br>
www.polcargo.com.pl, lub www.polcargo.gliwice.pl  <br>
office@polcargo.com.pl, lub office@polcargo.gliwice.pl <br>
</p>
<p class="Onas">
Polcargo Sp. z o.o. </p>
<p class="text-justify paragraf">
90-212 Łódź <br> 
ul. Sterlinga 27/29 <br>
tel: (+48 42) 633-61-61 <br>
tel.fax: (+48 42) 633-83-84 <br>
polcargo@xl.wp.pl <br>
</p>

<p class="Onas">
    Polcargo - Medyka </p>
<p class="text-justify paragraf">
Rzeczoznawstwo i Kontrola Towarów Sp. z o.o. <br>
St. 37-732 Medyka 161 <br>
tel: (+48 16) 671-53-81 <br>
tel: (+48 16) 671-55-16 <br>
tel/fax: (+48 16) 671-53-82 <br>
www.polcargo-medyka.pl  <br>
polcargo@polcargo-medyka.pl  <br>
</p>
{%endblock%}