{% extends 'aktualnosci/base.html' %}
{%block content%}
<h1 class="Onas">Wniosek certyfikacji</h1>

{% if submitted %}
<p class="paragraf text-center">Przesłano pomyślnie</p>
{% else %}

<div class="signup-form">
<form action="" method="POST">
  <h2>ZAŁĄCZNIK NR 1/P -01</h2>
  <p>Wniosek stanowi podstawę do sporządzenia umowy o certyfikację, pomiędzy organizacją,
    a POLCARGO GROUP Sp. z o. o. oraz ustalenia terminów realizacji auditów.
    Informacje zawarte we wniosku traktowane są jako poufne.</p>
  <hr>
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-group text-center">
  <input type="submit" value="Prześlij" class="btn btn-primary btn-block btn-lg">
  </div>
  <p class="small smallv2 text-center">Zgodnie z ustawą o ochronie danych osobowych z dnia 29.08.1997 r. (Dz. U. 2002 r. Nr 101poz. 926 z późn. zm.) wyrażam
    zgodę na gromadzenie, przechowywanie, przetwarzanie, przekazywanie, udostępnianie oraz analizę powyższych danych dla
    potrzeb niezbędnych do realizacji procesu certyfikacji prowadzonego przez Polcargo Group Sp. z o.o. z siedzibą w Gdyni,
     z zastrzeżeniem uregulowań ww. ustawy. Dane te podaję dobrowolnie, z prawem do wglądu oraz ich poprawiania.</p>
</form>
</div>
{% endif %}

{%endblock%}  