{% extends 'angielski/base.html' %}
{%block content%}
<p class="Onas">About Us</p>
<p class="text-justify paragraf">Last year we celebrated <b>60th anniversary of our activity</b>, because we are together with other companies concentrated in POLCARGO GROUP, continuators of national company Polcargo which was founded in 1949.
</p>
<p class="text-justify paragraf">Turning point followed in 1990 when company Polcargo was divided into 11 smaller enterprises which proceeded privatization through working companies way. Starting from the assumption that unity is strength and that previous idea of dividing this company by Ministry into several smaller ones did not belong to fairest, especially at confrontation with bigger foreign companies from European Union, we took some activities to strengthen our position in Poland.
</p>
<p class="text-justify paragraf">
    
On the initiative of eight companies in 1994 POLCARGO GROUP Ltd. was formed. In next years, as a result of further consolidation, four companies within the framework of Polcargo Group remained: <b>Polcargo Gdańsk, Polcargo Medyka, Polcargo Gliwice and Polcargo Łódź</b>.
</p>  <p class="text-justify paragraf">
    From beginning of its existence, president of the management board is <b>Andrzej Rogoziński</b> and vice-president of the management board is <b>Sławomir Władyko</b> They are also president and vice-president of the management board in Polcargo Gdańsk.
</p>
<p class="text-justify paragraf">
    <i>We put in disposal of our clients over 60 years of experience of Polcargo Company, knowledge and abilities of our inspectors and experts and we also offer them inspection in the area of whole country as well as out of borders including Russian Federation and other Baltic countries. We cooperate at realization with group of Polcargo companies in Poland, we also use network of agencies and world-wide correspondents.
   </i> </p>
    <p class="text-justify paragraf">
    <b>Polcargo trade mark was patented in Poland and in several European countries.</b> Polcargo Group is a member of international organizations like: ASTM, FOSFA and Polish Grain-Fodder Chamber.
    </p>
    <p class="text-justify paragraf">
        Long-term activity of Polcargo companies within the framework of Polcargo Group is also making the most of the opportunities caused by new economic conditions.
    </p>
    <p class="text-justify paragraf">    
        Reliability and responsibility in business are respected by many generations of Polcargo workers. They designate also working rules of companies acting currently under the common name of „POLCARGO GROUP”.
    </p>
{%endblock%}