{% extends 'angielski/base.html' %}
{%block content%} 
<p class="Onas">Offer</p>
<p class="paragraf">
    The offer of <b>Polcargo Group</b> is directed to all Customers interested in auditing and certification of Management Systems. With our highly qualified personnel and experienced consultants we <b>offer the service of Management Systems Certification</b>. Additionally Polcargo Group provides consulting and training services. Our long-standing practice and presence in the market of goods control guarantees to our customers that certificates granted by POLCARGO GROUP will be reliable and impartial proof of the efficient functioning of the company. Our auditors have experience in auditing companies in the construction industry, manufacturing, automotive, chemical, government and other industries.
</p>
<p class="paragraf">
<b>Our services relate to the following systems:</b> <br>
<tab>Quality Management Systems according to the standard PN-EN ISO 9001:2009,</tab> <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Environmental Management Systems according to the standard PN-EN ISO 14001:2005, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Occupational Health and Safety Management Systems according to the standard PN-N-18001:2004, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Food Safety Management Systems according to the standard PN-EN ISO 22000:2006, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Systems of ensuring food health safety according to the requirements of HACCP, GHP, GMP, GAP, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Integrated Systems - the combination of two or more core systems. <br></p>
<p class="paragraf"><i>
    Management Systems Certification is one of the ways to ensure that the certified organization is able to provide products or services that meet the specified requirements. Proof of compliance with the requirements of a specific standard or other normative document is the Management System Certificate.
</i></p>
<p class="paragraf">
    We guarantee:<br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Reliable evaluation based on knowledge and tradition, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Impartiality, accountability and confidentiality, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Competent and experienced staff, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Short lead time, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Affordable prices.
</p>
<p class="paragraf">
Customer Profits: <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Understanding the processes within the organization, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;The prestige of being certified, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Guarantee of reliability for your business partners, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Prevention of any non-conformities, and their verification, <br>
&nbsp;&nbsp;&nbsp;&nbsp;
&bull;&nbsp;Effectively identify areas requiring corrective action. <br>
</p> 
{%endblock%}