{% extends 'angielski/base.html' %}
{%block content%} 
<p class="Onas">FAQ</p>

<p class="paragraf">
    <b>Sed a mauris et eros vulputate placerat. Praesent id velit bibendum, mollis massa placerat, rutrum mauris. In faucibus leo et tincidunt?</b> 
    <br>
    molestie. Aliquam ut velit diam. Integer eget libero massa. Praesent vitae tempor urna. Suspendisse non lorem vestibulum, egestas nibh eu, gravida nibh. Nam nulla risus, gravida maximus lectus a, ornare efficitur diam. Proin in cursus orci, a accumsan velit. Etiam dignissim tincidunt malesuada. Integer ullamcorper tempor lorem eget vehicula. Sed quis mi vitae sapien posuere placerat. Aliquam ornare turpis vel quam fermentum, id faucibus ligula egestas. Nullam ac nisi molestie, tempor sem sit amet, fringilla diam. Vivamus euismod mi neque, nec pretium nunc mattis mollis?
</p>
<p class="paragraf">
    <b>Phasellus condimentum lacus id nulla pellentesque eleifend. Pellentesque facilisis a urna tempus euismod. Nunc ornare enim non volutpat malesuada?</b> 
    <br>
    Suspendisse porta leo quis est porta viverra quis malesuada tortor. In sed egestas magna, at pulvinar tortor. Praesent ultrices ligula eget dolor euismod, sit amet fermentum nisi rutrum. Nulla tincidunt lectus vitae egestas viverra. In fermentum tincidunt tortor a placerat. Donec commodo id velit quis molestie. Mauris placerat accumsan volutpat. Nam non mollis arcu. Fusce aliquet a elit at sollicitudin. Suspendisse lobortis, dui a eleifend rutrum, diam massa tincidunt magna, eu faucibus velit sapien sed tortor. Suspendisse dictum hendrerit mollis.
</p>
<p class="paragraf">
    <b>Suspendisse interdum eget velit at tincidunt?</b> 
    <br>
    Duis cursus ipsum pharetra ipsum commodo, at bibendum ligula porttitor. Maecenas elementum pretium est, vel tincidunt diam tristique a.
</p>

{%endblock%}